/*
  _____                    _ _ _                   _____                _                 _  __     ___ 
 |_   _| __ __ ___   _____| | (_)_ __   __ _ ___  |  ___| __ ___  _ __ | |_ ___ _ __   __| | \ \   / / |
   | || '__/ _` \ \ / / _ \ | | | '_ \ / _` / __| | |_ | '__/ _ \| '_ \| __/ _ \ '_ \ / _` |  \ \ / /| |
   | || | | (_| |\ V /  __/ | | | | | | (_| \__ \ |  _|| | | (_) | | | | ||  __/ | | | (_| |   \ V / | |
   |_||_|  \__,_| \_/ \___|_|_|_|_| |_|\__, |___/ |_|  |_|  \___/|_| |_|\__\___|_| |_|\__,_|    \_/  |_|
                                       |___/                                                            
	
    🚇 开往·友链接力！ 一群狼走得远   https://github.com/travellings-link/travellings
*/

.card {
    --card-width: 350px;
    --card-height: 300px;
    padding: 22px;
}

.MainCard {
    margin-left: 100px;
    float: left;
}

.fluent-sidebar {
    color: inherit;
    padding-left: 4px;
    padding-right: 4px;
}

.Sidebar {
    margin-left: 50px;
    margin-top: 50px;
}
